<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LyricsWikiaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LyricsWikiaTests OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OSX Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5744EF5217BA0B6C00BC0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5744EF6F17BA0D3100BC0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5744EF8517BA0D4B00BC0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5744EFA117BA0DF000BC0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5744EFB617BA0DFB00BC0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
